* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen {
  text-align: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

button {
  background: black;
  color: white;
  border: 2px solid white;
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: white;
  color: black;

  #gameHint {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: Arial, sans-serif;
  pointer-events: none; /* oyunu engellemez */
  z-index: 999;
}

#gameHint p {
  margin: 4px 0;
}

}
